.container {
  text-align: center;
  margin-top: 23px;
}

table {
  margin: auto;
}

input {
  border-radius: 21px;
  border: 2px solid #ffffff;
  font-size: 34px;
  height: 150px;
  width: 400px;
  padding: 15px 15px;
  text-align: start;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid red;
}

button {
  color: #ffffff;
  border-radius: 20px;
  font-size: 40px;
  background: #978fa0;
  width: 90px;
  height: 90px;
  margin: 6px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(14.5px);
  -webkit-backdrop-filter: blur(14.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.calculator {
  /* border: 4px solid #13695d; */
  background-color: #171717;
  /* background-color: #ff99f7; */

  padding: 23px;
  border-radius: 53px;
  display: inline-block;
}

h1 {
  font-size: 28px;
  font-family: "Courier New", Courier, monospace;
}
